@import 'normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 1rem;
  background: #f6f6f6;
}


[data-ff-file-uploader] {
  padding: 1rem;
  background: white;
}

div[data-ff-file-uploader] {
  margin-top: 2rem;
  border: 2px dashed grey;
}

button[data-ff-file-uploader] {
  margin-top: 1rem;
  border-radius: 5px;
  font-family: inherit;
  line-height: 1;
  border: 2px solid grey;
}


